*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 64px;
    background: linear-gradient(90deg , #06b6d4 ,#d946ef , #f59e0b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.card{
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.4s linear;
    filter: blur(4px);
    background: linear-gradient(blue , green , red);
}

.card:hover{
    filter: blur(0);
}

.card img{
    width: 250px;
}

.cards{
    display: flex;
    justify-content: space-between;

}